.gallery {
  margin: 0;
  padding: 0;
}

.gallery-container {
  margin: 0;
  max-width: 100%;
  padding: 0;
}

.gallery-row {
  margin: 0;
  padding: 0;
}

.img-wrapper {
  margin: 0;
  padding: 0;
}

.gallery-img {
  min-width: 100%;
  transition: transform 0.6s ease-in-out;
}

.img-container {
  overflow: hidden;
}

.img-container:hover .gallery-img {
  transform: scale(1.2, 1.2);
}

.gallery__img-text {
  color: #fff;
  font-size: 4rem;
  left: 50%;
  position: absolute;
  top: 50%;
}
