.code {
  background-color: #282C34;
  color: #00ff00;
  border-color: #000000;
  border-radius: 10px;
  border-style: solid;
  border-width: thin;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .code {
    margin-right: 200px !important;
  }
}


span.comment  {
  color: #e9e9e9;
  padding-right: 80px;
  align-self: flex-end;
}

span.mini-code {
  background-color: #282C34;
  color: #00ff00;
  border-color: #000000;
  border-radius: 10px;
  border-style: solid;
  border-width: thin;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
}

.code-scroll {
  overflow-x: scroll;
}
